* {
    font-family: 'Poppins', sans-serif;
}

.login__image {
    background-image: url('https://img.interempresas.net/fotos/3134556.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn-salir:hover {
    color: black !important;
}

.card-nota {
    transition: all .3s ease-in;
}

.card-nota:hover {
    transform: scale(1.2);
}

#eliminarNota .modal-content {
    background: #b2e2f2;
}

