{% extends "../base/base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container w-75 bg-info rounded shadow">
        <div class="row align-items-stretch">
            <!-- Imagen -->
            <div class="col login__image d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

            </div>
            <!-- Login -->
            <div class="col p-5 bg-white rounded-end">
                <h2 class="fw-bold text-center py-5">Bienvenido a ...!</h2>

                <form action="#">
                    <div class="mb-4">
                        <label for="username">Nombre de Usuario</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="mb-4">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-outline-info">Inicar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}