{% extends "./base/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center position-relative">
    <h1 class="display-1 mt-5">Bienvenido {{ username }}</h1>

    <div class="position-absolute top-0 end-0 m-5">
        <a href="notas/crear-nota" class="btn btn-outline-info rounded-circle shadow-sm p-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-plus text-secondary-emphasis" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
        </a>
    </div>

</div>

<!-- Notas -->
<main class="container row my-5 row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 mx-auto">
    {% if notas %}
        {% for nota in notas %}
        <div class="col">
            <div class="card shadow" style="width: 18rem; background-color: {{ nota.color }};">
                <img src="{{ nota.imagen.url }}" class="card-img-top" alt="Imagen de la nota">
                <div class="card-body" style="font-family: '{{ nota.fuente }}'">
                    <h5 class="card-title">{{ nota.titulo }}</h5>
                    <p class="card-text">{{ nota.contenido }}</p>
                </div>
                <div class="card-body">
                    <p class="card-text">Autores: <small class="text-body-secondary">
                        {% for autor in nota.autores.all %}
                            {{ autor.nombre }}, 
                        {% endfor %}
                    </small></p>
                   
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-outline-success">Editar nota</a>
                    <a href="#" class="btn btn-outline-danger">Eliminar nota</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h2 class="display-3 text-secondary">No hay notas registradas</h2>
    {% endif %}
</main>
{% endblock %}